{% extends "base.html" %}
{% block content %}
	{% if asiakas != null %}
		<div class="page-header">
			<h1>{{asiakas.etunimi}} {{asiakas.sukunimi}}
				({{asiakas.ktunnus}})</h1>
			{% if asiakas.sahkopostiosoite != null %}
				<a href="mailto:{{asiakas.sahkopostiosoite}}">{{asiakas.sahkopostiosoite}}</a>
			{% else %}
				<p>(asiakkaalla ei ole sähköpostiosoitetta)</p>
			{% endif %}
		</div>

		{% if paivitys_onnistui_viesti is defined %}
			<div class="alert alert-success">{{paivitys_onnistui_viesti}}</div>
		{% endif %}

		<p>
			<form method="post"
				action="{{base_path}}/asiakas/{{asiakas.ktunnus}}/poista"
				style="display: inline-block;">
				<button type="submit" class="btn btn-danger">Poista</button>
			</form>
			<form method="get"
				action="{{base_path}}/asiakas/{{asiakas.ktunnus}}/muokkaa"
				style="display: inline-block;">
				<button type="submit" class="btn btn-default">Muokkaa</button>
			</form>
			<!-- <a href="#" class="btn btn-default">Muokkaa</a> -->
		</p>
		<ul>
			<li><strong>Toimittamattomat tilaukset:</strong>
				<a href="#">123</a> <a href="#">124</a> <a href="#">127</a>
				(staattisia arvoja, aidot linkit keskeneräisiin tilauksiin
				toteutetaan myöhemmin</li>
			<li><strong>Toimitettuja tilauksia yhteensä:</strong>
				0 (staattinen arvo, Tilaus-malli toteutettava ensin)</li>
			<li><strong>Ongelmia yhteensä:</strong> <label class="label label-danger">
				3</label> (staattinen arvo, Tilaus- ja Ongelma-mallit toteutettava ensin)</li>
		</ul>

		<!--
		{% if asiakkaaseen_liittyvat_ongelmat %}
			<h3>Asiakkaaseen liittyvät ongelmat</h3>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Tilaus_ID</th>
						<th>Ongelman tyyppi</th>
						<th>Tapahtuma-ajankohta</th>
						<th>Ongelman kuvaus</th>
					</tr>
				</thead>
				<tbody>
					{% for ongelma in asiakkaaseen_liittyvat_ongelmat %}
						<tr>
							<td>{{ongelma.x}}</td>
							<td>{{ongelma.x}}</td>
							<td>{{ongelma.x}}</td>
							<td>{{ongelma.x}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<p><strong>Asiakkaaseen liittyviä ongelmia ei löytynyt</strong></p>
		{% endif %}
		-->

		{% if asiakkaan_osoitekirja %}
			<h3>Asiakkaan osoitekirja</h3>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Lähiosoite</th>
						<th>Postinumero</th>
						<th>Postitoimipaikka</th>
					</tr>
				</thead>
				<tbody>
					{% for osoite in asiakkaan_osoitekirja %}
						<tr>
							<td>{{osoite.lahiosoite}}</td>
							<td>{{osoite.postinumero}}</td>
							<td>{{osoite.postitoimipaikka}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<p><strong>Asiakkaan osoitekirja on tyhjä!</strong></p>
		{% endif %}

	{% else %}
		<div class="alert alert-danger">
			Käytettiin ilmeisesti olematonta ktunnusta</div>
	{% endif %}
{% endblock %}
