{% import "macros/forms.html" as forms %}
{% extends "base.html" %}
{% block content %}

	{% if asiakas != null %}
		<div class="page-header">
			<h1>{{asiakas.etunimi}} {{asiakas.sukunimi}}
				({{asiakas.ktunnus}})</h1>
			{% if asiakas.sahkopostiosoite != null %}
				<a href="mailto:{{asiakas.sahkopostiosoite}}">{{asiakas.sahkopostiosoite}}</a>
			{% else %}
				<p>(asiakkaalla ei ole sähköpostiosoitetta)</p>
			{% endif %}
		</div>

		{% if paivitys_onnistui_viesti is defined %}
			<div class="alert alert-success">{{paivitys_onnistui_viesti}}</div>
		{% endif %}
		{% if tyhja_osoitekirja_viesti is defined %}
			<div class="alert alert-danger">{{tyhja_osoitekirja_viesti}}</div>
		{% endif %}

		<p>
			{{ forms.poista_painike( "#{base_path}/asiakas/#{asiakas.ktunnus}/poista" ) }}
			{{ forms.muokkaa_painike( "#{base_path}/asiakas/#{asiakas.ktunnus}/muokkaa" ) }}
		</p>

		<ul>
			<li>
				{% if toimittamattomien_tilausten_lkm > 0 %}
					<strong>Linkit toimittamattomiin tilauksiin:</strong>
					{% for tilaus in asiakkaan_toimittamattomat_tilaukset %}
						<a href="{{base_path}}/tilaus/{{tilaus.tilaus_id}}">{{tilaus.tilaus_id}}</a>
					{% endfor %}
				{% else %}
					<strong>Ei toimittamattomia tilauksia</strong>
				{% endif %}
			</li>
			<li><strong>Toimitettuja tilauksia yhteensä:</strong>
				{{toimitettujen_tilausten_lkm}}</li>
			<li><strong>Toimitettujen tilausten kokonaisarvo:</strong>
				{{toimitettujen_tilausten_kokonaisarvo}} €</li>
			{% if user_logged_in.on_paakayttaja %}
				<li>
					<strong>Ongelmia yhteensä:</strong>
					{% if asiakkaaseen_liittyvien_ongelmien_lkm > 0 %}
						<label class="label label-danger">
							{{asiakkaaseen_liittyvien_ongelmien_lkm}}</label>
					{% else %}
						<label class="label label-success">
							{{asiakkaaseen_liittyvien_ongelmien_lkm}}</label>
					{% endif %}
				</li>
			{% endif %}
		</ul>

		{% if user_logged_in.on_paakayttaja and asiakkaaseen_liittyvien_ongelmien_lkm > 0 %}
			<p>Siirry tarkastelemaan asiakkaaseen liittyviä
				<a href="{{base_path}}/ongelma/{{asiakas.ktunnus}}">ongelmia</a></p>
		{% endif %}

		{% if asiakkaan_osoitekirja %}
			<h3>Asiakkaan osoitekirja</h3>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Lähiosoite</th>
						<th>Postinumero</th>
						<th>Postitoimipaikka</th>
					</tr>
				</thead>
				<tbody>
					{% for osoite in asiakkaan_osoitekirja %}
						<tr>
							<td>{{osoite.lahiosoite}}</td>
							<td>{{osoite.postinumero}}</td>
							<td>{{osoite.postitoimipaikka}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<p><strong>Asiakkaan osoitekirja on tyhjä!</strong></p>
		{% endif %}

	{% else %}
		<div class="alert alert-danger">
			Käytettiin ilmeisesti olematonta ktunnusta</div>
	{% endif %}

{% endblock %}
