{% extends "base.html" %}
{% block content %}

	<div class="page-header">
		{% if user_logged_in.on_paakayttaja %}
			<h1>Tilaukset</h1>
		{% else %}
			<h1>Oma tilaushistoriani</h1>
		{% endif %}
		<p>Voit tarkastella yksittäistä tilausta klikkaamalla sen tilaus_id:tä</p>
	</div>

	{% if poisto_onnistui is defined %}
		<div class="alert alert-success">{{poisto_onnistui}}</div>
	{% endif %}

	<p>
		<a href="{{base_path}}/tilaus/uusi" class="btn btn-success">
			Lisää tilaus</a>
	</p>

	<table class="table table-striped table-bordered">
		<thead>
			<th>Tilaus_ID</th>
			<th>Asiakas</th>
			<th>Toimitusosoite</th>
			<th>Tilaus tehty</th>
			<th>Toimitettu asiakkaalle</th>
			<th>Kokonaishinta</th>
		</thead>

		<tbody>
			{% for tilaus in tilaukset %}
				<tr>
					<td><a href="{{base_path}}/tilaus/{{tilaus.tilaus_id}}">
						{{tilaus.tilaus_id}}</a></td>
					<td><a href="{{base_path}}/asiakas/{{tilaus.asiakasviite.ktunnus}}">
						{{tilaus.asiakasviite.etunimi}}
						{{tilaus.asiakasviite.sukunimi}}</a></td>
					<td>{{tilaus.osoiteviite.lahiosoite}},
						{{tilaus.osoiteviite.postinumero}}
						{{tilaus.osoiteviite.postitoimipaikka}}</td>
					<td>{{tilaus.ts_tilauksen_teko}}</td>
					<td>{{tilaus.ts_tak_toteutunut}}</td>
					<td>{{tilaus.tilauksen_kokonaishinta}} €</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
