{% extends "base.html" %}
{% block content %}

	<div class="page-header">
		<h1>Uusi tilaus</h1>
	</div>

	{% if virheilmoitukset %}
		<div class="alert alert-danger">
			<ul>
				{% for virheilmoitus in virheilmoitukset %}
					<li>{{virheilmoitus}}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<form method="post" action="{{base_path}}/tilaus/uusi">
		<div class="form-group">
			<h2>Valitse tuotteet</h2>
			{{ include( 'include/tuotevalitsin.html' ) }}
		</div>

		<div class="form-group">
			<h2>Valitse asiakas, osoite ja toimitusajankohta</h2>
			{{ include( 'include/osoite_ja_toivottu_tak_valitsin.html' ) }}
		</div>

		{% if not user_logged_in.on_paakayttaja %}
			<div class="form-group">
				<input name="ktunnus" value="{{user_logged_in.ktunnus}}" type="hidden">
			</div>
		{% endif %}

		<div class="form-group">
			<button type="submit" class="btn btn-primary">Lähetä tilaus</button>
		</div>
	</form>

{% endblock %}
