{% extends "base.html" %}
{% block content %}

	<div class="page-header">
		<h1>Asiakas–osoite-parit</h1>
		<p>Pahasti kesken. Tulen toteuttamaan sivulle monesta moneen -hifistelyä.</p>
	</div>

	<table>
		<thead>
			<th>Valitse asiakas</th>
			<th>Valitse osoite</th>
		</thead>
			<tbody>
				<td>
					<select class="form-control" name="x">
						<option value="0">–</option>
						{% for asiakas in kaikki_asiakkaat %}
							<option value="{{asiakas.ktunnus}}">
								{{asiakas.etunimi}} {{asiakas.sukunimi}}
								({{asiakas.ktunnus}})</option>
						{% endfor %}
					</select>
				</td>
				<td>
					<select class="form-control" name="x">
						<option value="0">–</option>
						{% for asiakas in kaikki_asiakkaat %}
							<option value="{{asiakas.ktunnus}}">
								{{asiakas.etunimi}} {{asiakas.sukunimi}}
								({{asiakas.ktunnus}})</option>
						{% endfor %}
					</select>
				</td>
			</tbody>
	</table>

	<br>

	<p>
		<a href="#" class="btn btn-success">
			Hae tiedot</a>
	</p>

	<hr>

	<table class="table table-striped table-bordered">
		<thead>
			<th>Asiakas</th>
			<th>Osoite</th>
		</thead>

		<tbody>
			{% for asiakas_osoite_pari in asiakas_osoite_parit %}
				<tr>
					<td><a href="{{base_path}}/asiakas/{{asiakas_osoite_pari.asiakasviite.ktunnus}}">
						{{asiakas_osoite_pari.asiakasviite.etunimi}}
						{{asiakas_osoite_pari.asiakasviite.sukunimi}}</a></td>
					<td>{{asiakas_osoite_pari.osoiteviite.lahiosoite}},
						{{asiakas_osoite_pari.osoiteviite.postinumero}}
						{{asiakas_osoite_pari.osoiteviite.postitoimipaikka}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
