{% extends "base.html" %}
{% block content %}

	<div class="page-header">
		<h1>Hallinnoi osoitteita</h1>
	</div>

	<form method="post" action="{{base_path}}/osoite">
		<div class="form-group">
			<table>
				<thead>
					<th>Valitse asiakas</th>
					<th>Valitse osoite</th>
					<th>Lisäystoiminto</th>
				</thead>
					<tbody>
						<td>
							<select class="form-control" name="asiakasvalitsin">
								<option value="*">*</option>
								{% for asiakas in kaikki_asiakkaat %}
									{% if asiakas.ktunnus == valittu_asiakas %}
										<option selected value="{{asiakas.ktunnus}}">
											{{asiakas.etunimi}} {{asiakas.sukunimi}}
											({{asiakas.ktunnus}})</option>
									{% else %}
										<option value="{{asiakas.ktunnus}}">
											{{asiakas.etunimi}} {{asiakas.sukunimi}}
											({{asiakas.ktunnus}})</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
						<td>
							<select class="form-control" name="osoitevalitsin">
								<option value="*">*</option>
								{% for osoite in kaikki_osoitteet %}
									{% if osoite.osoite_id == valittu_osoite %}
										<option selected value="{{osoite.osoite_id}}">
											{{osoite.lahiosoite}}, {{osoite.postinumero}}
											({{osoite.postitoimipaikka}})</option>
									{% else %}
										<option value="{{osoite.osoite_id}}">
											{{osoite.lahiosoite}}, {{osoite.postinumero}}
											({{osoite.postitoimipaikka}})</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
						<td align="right">
							{% if lisaystoiminto_kaytossa %}
								<input checked type="checkbox" name="lisaystoiminto">
							{% else %}
								<input type="checkbox" name="lisaystoiminto">
							{% endif %}
						</td>
					</tbody>
			</table>
		</div>

		<div class="form-group">
			<input type="hidden" name="tehty_haku" value="1">
		</div>

		<p>Valitse tähtimerkki, jos haluat, että hakusi koskee kaikkia asiakkaita
			ja/tai osoitteita. Lisäystoiminnolla valintasi lisätään tietokantaan.
			Esim. jos valitset asiakkaaksi Minna Ruusun ja osoitteeksi tähtimerkin,
			lisätään tietokantaan asiakas–osoite-parit (mruusu, *), missä tähtimerkki
			vastaa jokaista osoitetta.</p>

		<div class="form-group">
			<button type="submit" class="btn btn-primary">Hae tiedot</button>
		</div>
	</form>

	<hr>

	<h2>Haun tulokset</h2>
	{% if tehty_haku  %}
		<p>Annetuilla ehdoilla löytyi {{ao_parien_lkm}} riviä{% if lisaystoiminto_kaytossa %}.
			Ennen hakua tauluun mm_Asiakas_Osoite lisättiin {{lisattyjen_rivien_lkm}}
			riviä.{% endif %}</p>

		<form method="post" action="{{base_path}}/osoite/poista_ao_parit">
			<div class="form-group">
				<table class="table table-striped table-bordered">
					<thead>
						<th>Asiakas</th>
						<th>Osoite</th>
						<th>Poista</th>
					</thead>

					<tbody>
						{% for asiakas_osoite_pari in asiakas_osoite_parit %}
							<tr>
								<td><a href="{{base_path}}/asiakas/{{asiakas_osoite_pari.asiakasviite.ktunnus}}">
									{{asiakas_osoite_pari.asiakasviite.etunimi}}
									{{asiakas_osoite_pari.asiakasviite.sukunimi}}</a></td>
								<td>{{asiakas_osoite_pari.osoiteviite.lahiosoite}},
									{{asiakas_osoite_pari.osoiteviite.postinumero}}
									{{asiakas_osoite_pari.osoiteviite.postitoimipaikka}}</td>
								<td align="right">
									<input type="checkbox" name="{{asiakas_osoite_pari.asiakasviite.ktunnus}}/{{asiakas_osoite_pari.osoiteviite.osoite_id}}">
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-danger">Poista valitut rivit</button>
			</div>
		</form>
	{% elseif viesti_ao_pareja_poistettu is not null %}
		<p>{{viesti_ao_pareja_poistettu}}</p>
	{% else %}
		<p>Et ole vielä tehnyt hakua</p>
	{% endif %}

{% endblock %}
